@(recipes: List[Recipe])

@main("Recipe Finder Application") {

@if(flash.contains("success")) {
	<p class="success">
    	@flash.get("success")
    </p>
} else  {
	<p class="error">
    	@flash.get("error")
    </p>
}


<h1>@recipes.size() Recipes available:</h1>
	
		<ul>
		@for(recipe <- recipes) {
		
	  		<li>@recipe.category <b>@recipe.name</b> @recipe.issue @recipe.page @recipe.comment</li>
	  	
	  	}
	</ul>
	
	
	 		
 		@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
 		
	<h2>Upload  your recipes</h2>
    
    <input type="file" name="recipes">
    
    <p>
        <input type="submit">
    </p>
	}
	
}